@import '../../styles/scss/utils.scss';
.form {
    width:100%;
    max-width: 44em;
    margin: 0 auto;
    height:100%;

    .sbm {
      border: em(1) ridge #fff;
      color: #fff;
      background-color: #3076b0;
      border-radius: em(15);
      padding: em(15) em(5);
      
      &:hover {
        cursor: pointer
      }


      &--disabled {
        background-color: #a8abad;
      }

    }
  
    input,textarea, div {
      width: 100%;
      height: 100%;
      padding: em(15) em(5);
      margin: em(15) 0;
      font-size: em(16);
      border-radius: em(15);
    }
    
    input.error,
    textarea.error {
        box-shadow: 0 0 em(3) rgb(161, 3, 56);
    }
    
    .errorMessage {
       font-size: em(12);
       color: rgb(161, 3, 56);
    }   
  }

  @media (max-width: em(450)) {
    .form {
      float: none;
      width: 100%;
    }
  }