@import '../../styles/scss/utils.scss';

#root, html, body {
    font-family: Montserrat, Roboto, Helvetica, Arial, sans-serif;
    color: #555;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: em(16);
    font-weight: 400;
    background: #f9f9f9;
    font-family: Library-soft;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, span, a, ul li {
  letter-spacing: em(-1.3);
}

h1 {
  font-size: em(24);
  font-weight: '700';
}

h2 {
  font-size: em(22);
  font-weight: '600';
}

h3 {
  font-size: em(20);
  font-weight: '600';
}

h4 h5 {
  font-size: em(18);
  font-weight: '500';
}

p, span, a, ul li {
  font-size: em(14);
  font-weight: '500';
}

body, div, section, ul {
  box-sizing: border-box;
  scrollbar-width: none;
}

@font-face {
  font-family: "Great-Vibes";
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/Olho\ de\ Boi.ttf');
}

@font-face {
  font-family: "Library";
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/Library.otf');
}

@font-face {
  font-family: "Library-soft";
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/Library-soft.otf');
}

@font-face {
  font-family: "ZnikomitNo24";
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/ZnikomitNo24.otf');
}

@font-face {
  font-family: "ZnikomitNo24Thin";
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/ZnikomitNo24Thin.otf');
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  scroll-behavior: auto;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
  &::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
  }
  overflow: -moz-scrollbars-none;
}

.container {
  display: flex;
  flex-flow: row;
  align-items: stretch;
  flex: 1;
  margin: 0 auto;
  padding: em(40);


  &__img {
    width: 30%;
    padding: em(10);
    order: 2;
    text-align: center;
  }
  
  &__img div img {
    width: 100%;
    height: 100%;
  }
  
  &__text {
    width: 70%;
    order: 1;
    padding: em(10);
  }
}

.section {
  align-content: stretch;
  padding: em(52) em(20);
  background: #f9f9f9;
  max-width: em(1300);
  width: 100%;
  height: 100vh;
  position: relative;
}

.paralax {
  opacity: 0.95;
  position: relative;

  &--row {
    overflow: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-transition: all 2s; /* For Safari 3.1 to 6.0 */
    transition: all 2s;
  }

  &__header {
    font-size: em(40);
    font-family: "Library-soft";
    padding: em(20);
    color: #535d94;
    position: absolute;
    top: em(10);
    width: 100%;
    text-align: center;

    &--lighter {
        color: #eee;
    }

    &--bottom-aligned {
      align-self: flex-end;
      top: em(90);
      left: em(40);
    }

  }
  
  video {
    display: block;
    width: 100%;
    height: 100%;
  }

  div {
    position: relative;
    height: em(750);
    min-width: em(300);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center center;
    background-origin: content-box;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

.content {
  height: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: em(451)) and (max-width: em(650)) {
  #home {
    .container {
      flex-direction: column;
      padding: 0.25em;
      
      &__text { 
        width: 100%; 
      }
    }
  }
}

@media (max-width: em(450)) {

  .__header {
    font-size: em(30);
  }
  
  .wrapper {
    flex-wrap: wrap-reverse;
  }

  .container__img,
  .container__content {
    float: none;
    width: 100%;
  }

  #home {
    .container {
      flex-direction: column;
      padding: 0.25em;
      
      &__text { 
        width: 100%; 
      }
    }
  }
}
