@import '../../styles/scss/utils.scss';
.slide_holder {
  display: flex;
  flex-flow: column;
  position: relative;
  flex: 1;
  justify-content: center;
  align-items: stretch;
  scroll-snap-points-y: repeat(1000px);
  scroll-snap-type: y mandatory;
  h1, h3 {
    text-align: center;
  }
}

#indicator {
  display: block;
  position: absolute;
  background-color: rgb(93, 214, 214);
  height: em(4);
  top: em(130);
  left: 0;
  width: 0;
}

.slide {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  scroll-snap-align: center;

  &__images {
    display: flex;
    flex-wrap: wrap;
    flex: 100% 1;
    padding: 0.625em 0.625em;
    justify-content: space-around;
    align-items: stretch;
  }

  &__images div {
    display: flex;
    flex-direction: row;
  }

  &__img {
    position: relative;
    width: em(220);
    height: em(180);
    border: 1px solid #50CEC4;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: padding-box;
   
    &--rotated {
      transform: rotate(90deg);
    }
  }

  &__img img {
    width: 100%;
    height: auto;
  }

  &__remarks-holder  {
    position: absolute;
    background-color: #7b7b7b94;
    left: 25%;
    bottom: em(10);
    width: 50%;
    transition: all 1s ease-in-out;

    &--contra-rotated {
      transform: rotate(-90deg);
      background-color: #7b7b7b94;
      left: 50%;
      bottom: 25%;
    }
  }

  .slide__remarks {
    text-align: center;
    color: #50CEC4;
    width: 100%;
    height: 100%;
  }

  &__img:hover .slide__remarks-holder {
    border-radius: 0%;
    opacity: 1;
    transform: scale(1.5);
  }

  &__img:hover .slide__remarks-holder--contra-rotated {
    border-radius: 0%;
    opacity: 1;
    transform: scale(1.5) rotate(-90deg);
  }

  &__title {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 0.625em 0.625em;
    
    span {
      font-size: 1.5em;
      font-weight: 700;
      word-wrap: break-word;
    }
  }

  &__list {
    list-style: none;
    padding: em(5) em(10);
    li {
      font-weight: 500;
      font-size: 1.250em;
      text-align: left;
      letter-spacing: em(-1);
    }
  }

  &__text {
    width: 100%;
    height: auto;
    padding: 0.625em 0.625em;

    span {
      font-size: 1.250em;
      font-weight: 400;
      word-wrap: break-word;
      text-align: left;
      letter-spacing: em(-1);
    }
  }

  &__container {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    width: 100%;
    min-height: 100%;
    margin: em(4) em(10);
    padding: em(20);
    overflow-y: hidden;
    overflow-x: auto;
    background: #f9f9f9;
    scroll-snap-align: start center;
    transition: all 1.2s 0.1s ease-in-out;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
    &::-webkit-scrollbar {
      width: 0px;  /* remove scrollbar space */
      background: transparent;  /* optional: just make scrollbar invisible */
    }
  }

}
.slide__images div {
   margin: 2.125em 0;
   align-self: stretch;
   overflow: hidden;
}


@media (max-width: em(520)) {
  .slide__container {
    margin: 1.875em 0;
  }

  #indicator {
    top: em(170)
  }
  
  .slide__images {
     flex-flow: column;
  }
  .slide__img {
    width: 100%;
    min-height: em(320);
    padding: em(8);
    border: none;
    background-size: contain;
    background-position: center;
    background-clip: content-box;
  }
  .slide__list li,
  .slide__text span {
    font-size: 0.875em;
  }

  .slide__title span {
    font-size: 1.25em;
  }
  
  .slide__list li,
  .slide__text span {
    padding: 0.475em 0;
  }

  .slide__images,
  .slide__text {
    padding: 0.625em;
  }

  .slide__images > .slide__img:nth-of-type(3),
      .slide__img:nth-of-type(4),
      .slide__img:nth-of-type(5),
      .slide__img:nth-of-type(6) {
       display: none;
  }
}