@import '../../styles/scss/utils.scss';

.slide {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  perspective: em(1000);
  scroll-snap-type: x mandatory;

  /* older spec implementation */
  scroll-snap-destination: 0% 100%;
  scroll-snap-points-x: repeat(100%);
  transform-style: preserve-3d;

  &__images {
    display: flex;
    flex-wrap: wrap;
    flex: 100% 1;
    padding: 1.250em 0;
    justify-content: space-around;
  }

  &__images div {
    display: flex;
    flex-direction: row;
  }

  &__img {
    position: relative;
    width: 30%;
    height: 100%;
   
    &--rotated {
      transform: rotate(90deg);
    }
    &--four-in-view {
      width: 25%;
    }
    &--three-in-view {
      width: 33.33%;
    }
    &--half-in-view {
      width: 50%;
    }
    &--full-in-view {
      width: 100%;
    }
  }

  &__img img {
    width: 100%;
    height: auto;
  }

  &__remarks-holder  {
    position: absolute;
    opacity: 0;
    background-color: #7b7b7b94;
    left: 25%;
    bottom: em(10);
    width: 50%;
    text-align: center;
    color: #ff9199;
    border-radius: 50%;
    transform: scale(0);
    transition: all 1s ease-in-out;

    &--contra-rotated {
      transform: scale(0) rotate(-90deg);
      opacity: 0;
      background-color: #7b7b7b94;
      left: 50%;
      bottom: 25%;
    }
  }

  .slide__remarks {
    text-align: center;
    width: 100%;
    height: 100%;
  }

  &__img:hover .slide__remarks-holder {
    border-radius: 0%;
    opacity: 1;
    transform: scale(1.5);
  }

  &__img:hover .slide__remarks-holder--contra-rotated {
    border-radius: 0%;
    opacity: 1;
    transform: scale(1.5) rotate(-90deg);
  }

  &__title {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 2.188em 0.625em;
    
    span {
      font-size: 1.5em;
      font-weight: 700;
      word-wrap: break-word;
    }
  }

  &__list {
    list-style: none;
    padding: em(5) em(10);
    li {
      font-weight: 500;
      font-size: 1.250em;
      text-align: left;
      letter-spacing: em(-1);
    }
  }

  &__text {
    width: 100%;
    height: auto;
    padding: 2.188em 0.625em;

    span {
      font-size: 1.250em;
      font-weight: 400;
      word-wrap: break-word;
      text-align: left;
      letter-spacing: em(-1);
    }
  }

  &__text {
    height: em(250);
  }

  &__container {
    width: 100%;
    height: 100%;
    background: #f9f9f9;
    scroll-snap-align: start center;
    transition: all 1.2s 0.1s ease-in-out;
  }

}
.slide__images div {
   margin: 2.125em 0;
   align-self: stretch;
   overflow: hidden;
}


@media (max-width: em(520)) {
  .slide__container {
    margin: 1.875em 0;
  }
  
  .slide__images {
     flex-flow: column;
  }
  .slide__img {
    width: 100%;
    height: auto;
    padding: em(10);
  }
  .slide__list li,
  .slide__text span {
    font-size: 0.875em;
  }

  .slide__title span {
    font-size: 1.25em;
  }
  
  .slide__list li,
  .slide__text span {
    padding: 0.475em 0;
  }

  .slide__container:nth-of-type(3) {
    .slide__images {
       .slide__img--rotated:nth-of-type(1),
       .--rotated:nth-of-type(2) {
        transform: rotate(-0deg);
      }
    }
  }
}