@import '../../styles/scss/utils.scss';

.card {
    display: grid;
    display: -ms-grid;
    grid-template-columns: em(320);
    grid-template-rows: em(320) em(220) em(70);
    -ms-grid-columns: em(320);
    -ms-grid-rows: em(300) em(220) em(70);
    grid-template-areas: "image" "text" "stats";
    border-radius: em(18) ;
    background: white;
    box-shadow: em(5)  em(5)  em(15) rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
    margin: 0 em(15);

    &:hover {
        transform: scale(1.15);
        box-shadow: em(5)  em(5)  em(15) rgba(0,0,0,0.6);
      }
  }

  .card-image {
    -ms-grid-area: image;
    grid-area: image;
    border-top-left-radius: em(15);
    border-top-right-radius: em(15);
    
    img {
      width: 100%;
      height: auto;
      max-height: em(250);
      object-fit: fill;
    }
  }
  
  .card-text {
    grid-area: text;
    -ms-grid-area: text;
    padding: em(10);
    
    p, span {
        color: grey;
        font-size:em(14);
        font-weight: 300;
    }
    
    h2 {
        margin-top:em(10);
        font-size:em(20);
    }
    
    ul li {
      font-size: em(14);
      text-align: left;
      color: grey;
    }
    
    .remark {
      color: red;
    }
  }
  .card-stats {
    grid-area: stats;
    -ms-grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: em(15);
    border-bottom-right-radius: em(15);
    background: rgb(86, 206, 228);

    .stat {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
  }

  .card-flex {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: em(320);
  }

  .stats-flex {
    display: flex;
    width: em(320);
    height: em(70);
    border-bottom-left-radius: em(15);
    border-bottom-right-radius: em(15);
    background: rgb(86, 206, 228);

    .stat {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
  }

  .text-flex {
    display: flex;
    flex-direction: column;
    padding: em(10);
    min-width: em(320);
    min-height: em(220);
    p, span {
        color: grey;
        font-size:em(14);
        font-weight: 300;
    }
   
    h2 {
        margin-top:em(10);
        font-size:em(20);
    }
    ul li {
      font-size: em(14);
      text-align: left;
      color: grey;
    }
    
    .remark {
      color: red;
    }
  }

  .image-flex {
    display: flex;
    flex-direction: column;
    border-top-left-radius: em(15);
    border-top-right-radius: em(15);
    min-width: 18.75em;
    min-height: 10.375em;
    img {
      width: 100%;
      height: auto;
      max-height: em(250);
      object-fit: fill;
    }
  }