@import '../../styles/scss/utils.scss';

nav {
    display: flex !important;
    flex: 1;
    position: relative;
    justify-content: space-between;
    background: #fff;
    max-height: em(150);
    height: em(90);


    .logo_holder {
      display: flex;
      flex: 0.15;
      min-width: em(90);
      max-width: em(180);
      height: em(90);
    }

    .logo {
      display: block;
      width: 100%;
      object-fit: fill;
      height: auto;
    }
  }

  .toggle-button {
    position: absolute;
    display: none;
    top: 20%;
    bottom: 20%;
    right: 0;
    z-index: 25;
    width: em(52);
    height: 100%;
    padding: 0.125em 0.125em;
  }

  .bar {
    display: none;
    height: em(4);
    width: 100%;
    margin: em(10) 0;
    background-color: #50CEC4;

  }

  .menuItems {
    display: flex;
    flex: 0.85;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;

    li {
      padding: em(10);

      i {
        color: #50CEC4;
        transform: scale(0,0) translate(em(22), em(22)) rotate(-45deg);
        transition: all 0.5s ease-in-out;
      }

      a {
        text-decoration: none;
        color: #8f8f8f;
        font-size: em(18);
        font-weight: 400;
        letter-spacing: em(-1);
        transition: all 0.5s ease-in-out;
        position: relative;
        text-transform: uppercase;

        &::before {
          content: attr(data-item);
          transition: 0.5s;
          color: #50CEC4;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: 0;
          overflow: hidden;
        }

        &:hover {   
          &::before {
            width: 100%;
            transition: all 0.5s ease-in-out;
          }
        }
      }

      &:hover > i {   
        transform: scale(1,1) translate(em(-2), em(-6)) rotate(0deg);
      }
    }

    &--vertical {
      position: absolute;
      display: block;
      width: em(160);
      padding: 0.125em 0.625em;
      height: 0;
      justify-content: flex-end;
      transition-timing-function: linear;
      transition-duration: 0.5s;
      transition-property: height, opacity;
      transition-delay: 0s, 0.5s;
      background: #f9f9f9;
      top: em(74);
      right: 0;
      z-index: -45;
       
      li {
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: em(10) 0;
     
        a: {
          text-align: right;
          letter-spacing: em(-1);
        }
     
        &:hover > i {   
          transform: scale(1,1) translate(em(-4), em(-6)) rotate(0deg);
        }
        &:hover {
          border-bottom: em(1) solid #b4b0b0;
        }
      }
      
    }
  }

  .hidden {
    opacity: 0;
    z-index: -23;
    height: 0;
  }

  .shown {
    opacity: 1 !important;
    z-index: 45 !important;
    height: auto !important;
  }

  @media (min-width: em(1300)) {
    nav {
      height: em(180);
      .logo_holder {
        height: em(180);
        max-width: em(180);
      }
    }
    .toggle-button, .bar {
      display: none;
    }
    .menuItems {
      li {
        padding: 0.26em;
      }
      li a {
        font-size: em(24);
      }
      
      &--vertical {
        opacity: 0 !important;
        z-index: -23 !important;
      }
    }
  }


  @media (min-width: em(750)) and (max-width: em(1259)) {
    nav {
      height: em(150);
      
      .logo_holder {
        height: em(150);
        max-width: em(120);
      }
    }
    .toggle-button, .bar {
      display: none;
    }
    .menuItems {
      li {
        padding: 0.625em 0.26em;
      }
      li a {
        font-size: em(16);
      }
      
      &--vertical {
        opacity: 0 !important;
        z-index: -23 !important;
      }
    }
  }


  
  @media (max-width: em(749)) {
    nav {
      max-height: em(100);
      .logo_holder {
        max-height: em(100);
        max-width: em(120);
        z-index: 45;
      }
    }
   
    .menuItems {
      li {
        padding: 0.625em 0.26em;
      }
      li a {
        font-size: em(16);
      }
      opacity: 0;
      z-index: -23;
      &--vertical {
        li a {
          font-size: em(14);
        }
      }
    }
    .toggle-button, 
    .bar {
      display: block;
    }
  }