@import '../../styles/scss/utils.scss';

.sertificates {
  display: flex;
  flex-wrap: wrap;
  padding: em(20);
  max-height: em(280);
  overflow: hidden;
  -webkit-transition: max-height 0.5s ease-out;
  -moz-transition: max-height 0.5s ease-out;
  -o-transition: max-height 0.5s ease-out;
  transition: max-height 0.5s ease-out;

  &--expanded {
    max-height: 210em;
  }
}

.sertificate {
  width: auto;
  margin: 0 auto;
  height: 100%;
  padding: em(2);
}

.expand-area {
  display: block;
  color: #222;
  height: em(50);
  width: em(50);
  font-size: em(32);
  text-align: center;
  margin: em(10) auto;
  &:hover {
      cursor: pointer
    }

}

@media (max-width: em(520)) {
  .sertificates--expanded {
    max-height: 450em;
  }
}
