.map-holder{
  height: 550px;
  width: 100%;
  position: relative;
}

.main {
  width: 100%;
  height: 100%;
  padding: 15px 0;
}

.main::after {
  clear: both;
  content: "";
  display: table;
}

.header {
  margin: 10px 5px;
  font-size: 32px;
}

.calendar {
  width:50%;
  height:100%;
  float: left;
  background-color: #fff;
  list-style: none;
  padding: 10px 25px;
  font-size: 14px;
  font-weight: normal;
  li {
    color:rgba(56, 0, 57,0.6);
  }
}

@media (max-width: 450px) {
  .calendar,
  .form {
    float: none;
    width: 100%;
  }
}
