@import './utils.scss';

.text-holder {

   &__article {
        font-family: Roboto;
        font-size: em(16);
        font-weight: normal;
        color: #363636;
        text-align: left;
        justify-content: space-around;
        padding: em(4) em(16);
        text-align: justify;
        letter-spacing: em(-1);
    }
    
    &__header {
        padding: 1em 0;
    }

}
