#root, html, body {
  font-family: Montserrat, Roboto, Helvetica, Arial, sans-serif;
  color: #555;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: 400;
  background: #f9f9f9;
  font-family: Library-soft;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, span, a, ul li {
  letter-spacing: -0.08125em;
}

h1 {
  font-size: 1.5em;
  font-weight: "700";
}

h2 {
  font-size: 1.375em;
  font-weight: "600";
}

h3 {
  font-size: 1.25em;
  font-weight: "600";
}

h4 h5 {
  font-size: 1.125em;
  font-weight: "500";
}

p, span, a, ul li {
  font-size: 0.875em;
  font-weight: "500";
}

div, section, ul {
  box-sizing: border-box;
}

@font-face {
  font-family: "Great-Vibes";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Olho de Boi.ttf");
}
@font-face {
  font-family: "Library";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Library.otf");
}
@font-face {
  font-family: "Library-soft";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Library-soft.otf");
}
@font-face {
  font-family: "ZnikomitNo24";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/ZnikomitNo24.otf");
}
@font-face {
  font-family: "ZnikomitNo24Thin";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/ZnikomitNo24Thin.otf");
}
.main {
  max-width: 1200px;
  margin: 0 auto;
  scroll-behavior: auto;
  overflow-y: auto;
}

.container {
  display: flex;
  flex-flow: row;
  align-items: stretch;
  flex: 1;
  margin: 0 auto;
  padding: 2.5em;
}
.container__img {
  width: 30%;
  padding: 0.625em;
  order: 2;
  text-align: center;
}
.container__img div img {
  width: 100%;
  height: 100%;
}
.container__text {
  width: 70%;
  order: 1;
  padding: 0.625em;
}

.section {
  align-content: stretch;
  padding: 3.25em 1.25em;
  background: #f9f9f9;
  max-width: 81.25em;
  width: 100%;
  height: 100vh;
  position: relative;
}

.paralax {
  opacity: 0.95;
  position: relative;
}
.paralax--row {
  overflow: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-transition: all 2s;
  /* For Safari 3.1 to 6.0 */
  transition: all 2s;
}
.paralax__header {
  font-size: 2.5em;
  font-family: "Library-soft";
  padding: 1.25em;
  color: #535d94;
  position: absolute;
  top: 0.625em;
  width: 100%;
  text-align: center;
}
.paralax__header--lighter {
  color: #eee;
}
.paralax__header--bottom-aligned {
  align-self: flex-end;
  top: 5.625em;
  left: 2.5em;
}
.paralax video {
  display: block;
  width: 100%;
  height: 100%;
}
.paralax div {
  position: relative;
  height: 46.875em;
  min-width: 18.75em;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-position: center center;
  background-origin: content-box;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content {
  height: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 28.1875em) and (max-width: 40.625em) {
  #home .container {
    flex-direction: column;
    padding: 0.25em;
  }
  #home .container__text {
    width: 100%;
  }
}
@media (max-width: 28.125em) {
  .__header {
    font-size: 1.875em;
  }

  .wrapper {
    flex-wrap: wrap-reverse;
  }

  .container__img,
.container__content {
    float: none;
    width: 100%;
  }

  #home .container {
    flex-direction: column;
    padding: 0.25em;
  }
  #home .container__text {
    width: 100%;
  }
}
.slide_holder {
  display: flex;
  flex-flow: column;
  position: relative;
  flex: 1;
  justify-content: center;
  align-items: stretch;
  scroll-snap-points-y: repeat(1000px);
  scroll-snap-type: y mandatory;
}
.slide_holder h1, .slide_holder h3 {
  text-align: center;
}

#indicator {
  display: block;
  position: absolute;
  background-color: #5dd6d6;
  height: 0.25em;
  top: 8.125em;
  left: 0;
  width: 0;
}

.slide {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-snap-align: center;
}
.slide__images {
  display: flex;
  flex-wrap: wrap;
  flex: 100% 1;
  padding: 0.625em 0.625em;
  justify-content: space-around;
  align-items: stretch;
}
.slide__images div {
  display: flex;
  flex-direction: row;
}
.slide__img {
  position: relative;
  width: 13.75em;
  height: 11.25em;
  border: 1px solid #50CEC4;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-clip: padding-box;
}
.slide__img--rotated {
  transform: rotate(90deg);
}
.slide__img img {
  width: 100%;
  height: auto;
}
.slide__remarks-holder {
  position: absolute;
  background-color: #7b7b7b94;
  left: 25%;
  bottom: 0.625em;
  width: 50%;
  transition: all 1s ease-in-out;
}
.slide__remarks-holder--contra-rotated {
  transform: rotate(-90deg);
  background-color: #7b7b7b94;
  left: 50%;
  bottom: 25%;
}
.slide .slide__remarks {
  text-align: center;
  color: #50CEC4;
  width: 100%;
  height: 100%;
}
.slide__img:hover .slide__remarks-holder {
  border-radius: 0%;
  opacity: 1;
  transform: scale(1.5);
}
.slide__img:hover .slide__remarks-holder--contra-rotated {
  border-radius: 0%;
  opacity: 1;
  transform: scale(1.5) rotate(-90deg);
}
.slide__title {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 0.625em 0.625em;
}
.slide__title span {
  font-size: 1.5em;
  font-weight: 700;
  word-wrap: break-word;
}
.slide__list {
  list-style: none;
  padding: 0.3125em 0.625em;
}
.slide__list li {
  font-weight: 500;
  font-size: 1.25em;
  text-align: left;
  letter-spacing: -0.0625em;
}
.slide__text {
  width: 100%;
  height: auto;
  padding: 0.625em 0.625em;
}
.slide__text span {
  font-size: 1.25em;
  font-weight: 400;
  word-wrap: break-word;
  text-align: left;
  letter-spacing: -0.0625em;
}
.slide__container {
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  width: 100%;
  min-height: 100%;
  margin: 0.25em 0.625em;
  padding: 1.25em;
  background: #f9f9f9;
  scroll-snap-align: start center;
  transition: all 1.2s 0.1s ease-in-out;
}

.slide__images div {
  margin: 2.125em 0;
  align-self: stretch;
  overflow: hidden;
}

@media (max-width: 32.5em) {
  .slide__container {
    margin: 1.875em 0;
  }

  #indicator {
    top: 10.625em;
  }

  .slide__images {
    flex-flow: column;
  }

  .slide__img {
    width: 100%;
    min-height: 20em;
    padding: 0.5em;
    border: none;
    background-size: contain;
    background-position: center;
    background-clip: content-box;
  }

  .slide__list li,
.slide__text span {
    font-size: 0.875em;
  }

  .slide__title span {
    font-size: 1.25em;
  }

  .slide__list li,
.slide__text span {
    padding: 0.475em 0;
  }

  .slide__images,
.slide__text {
    padding: 0.625em;
  }

  .slide__images > .slide__img:nth-of-type(3),
.slide__img:nth-of-type(4),
.slide__img:nth-of-type(5),
.slide__img:nth-of-type(6) {
    display: none;
  }
}
.image-holder {
  display: flex;
  flex-flow: column;
}
.image-holder img {
  width: 100%;
  height: auto;
  border: 0.0625em solid #414040;
  border-radius: 0.9375em;
  text-align: center;
  padding: 0.3125em;
}
.image-holder__box {
  display: block;
  -webkit-transition: -webkit-transform 2s;
  transition: transform 2s;
}
.image-holder__box-rotate {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.image-holder__box-rotate-cw {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.item {
  height: 28.125em;
  position: relative;
  margin: 2%;
  overflow: hidden;
}

.item img {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.item:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.form {
  width: 100%;
  max-width: 44em;
  margin: 0 auto;
  height: 100%;
}
.form .sbm {
  border: 0.0625em ridge #fff;
  color: #fff;
  background-color: #3076b0;
  border-radius: 0.9375em;
  padding: 0.9375em 0.3125em;
}
.form .sbm:hover {
  cursor: pointer;
}
.form .sbm--disabled {
  background-color: #a8abad;
}
.form input, .form textarea, .form div {
  width: 100%;
  height: 100%;
  padding: 0.9375em 0.3125em;
  margin: 0.9375em 0;
  font-size: 1em;
  border-radius: 0.9375em;
}
.form input.error,
.form textarea.error {
  box-shadow: 0 0 0.1875em #a10338;
}
.form .errorMessage {
  font-size: 0.75em;
  color: #a10338;
}

@media (max-width: 28.125em) {
  .form {
    float: none;
    width: 100%;
  }
}
.messageBoxHolder {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0;
  height: 3.125em;
  background-color: #456998;
}

.messageBox {
  display: flex;
  align-content: stretch;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.messageBox span {
  font-size: 0.875em;
  text-align: center;
  color: #fff;
}

.hide {
  animation-name: hide;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

.show {
  animation-name: show;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.map-holder {
  height: 34.375em;
  width: 100%;
  position: relative;
}

.main {
  width: 100%;
  height: 100%;
}

.main::after {
  clear: both;
  content: "";
  display: table;
}

.header h3 {
  margin: 0.625em 0.313em;
  font-size: 2em;
}

.calendar {
  background-color: #fff;
  list-style: none;
  padding: 0.625em 1.5625em;
  font-size: 0.875em;
  font-weight: normal;
}
.calendar li {
  color: rgba(56, 0, 57, 0.6);
}

@media (max-width: 28.125em) {
  .calendar,
.form {
    float: none;
    width: 100%;
  }

  .header h3,
#contact .paralax__header {
    margin: 2.5em 0.313em;
  }
}
nav {
  display: flex !important;
  flex: 1;
  position: relative;
  justify-content: space-between;
  background: #fff;
  max-height: 5.625em;
}
nav .logo_holder {
  display: flex;
  flex: 0.4;
  min-width: 9.375em;
  max-width: 15.625em;
  max-height: 15.625em;
}
nav .logo {
  display: block;
  width: 100%;
  padding: 0.5em;
  object-fit: cover;
  height: auto;
}

.toggle-button {
  position: absolute;
  display: none;
  top: 20%;
  bottom: 20%;
  right: 0;
  width: 3.25em;
  height: 100%;
  padding: 0.125em 0.125em;
}

.bar {
  display: none;
  height: 0.25em;
  width: 100%;
  margin: 0.625em 0;
  background-color: #50CEC4;
}

.menuItems {
  display: flex;
  flex: 1;
  max-width: 56.25em;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
}
.menuItems li {
  padding: 0.625em;
}
.menuItems li i {
  color: #50CEC4;
  transform: scale(0, 0) translate(1.375em, 1.375em) rotate(-45deg);
  transition: all 0.5s ease-in-out;
}
.menuItems li a {
  text-decoration: none;
  color: #8f8f8f;
  font-size: 1.125em;
  font-weight: 400;
  letter-spacing: -0.0625em;
  transition: all 0.5s ease-in-out;
  position: relative;
  text-transform: uppercase;
}
.menuItems li a::before {
  content: attr(data-item);
  transition: 0.5s;
  color: #50CEC4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  overflow: hidden;
}
.menuItems li a:hover::before {
  width: 100%;
  transition: all 0.5s ease-in-out;
}
.menuItems li:hover > i {
  transform: scale(1, 1) translate(-0.125em, -0.375em) rotate(0deg);
}
.menuItems--vertical {
  position: absolute;
  display: block;
  width: 10em;
  padding: 0.125em 0.625em;
  height: 0;
  justify-content: flex-end;
  transition-timing-function: linear;
  transition-duration: 0.5s;
  transition-property: height, opacity;
  transition-delay: 0s, 0.5s;
  background: #f9f9f9;
  top: 4.625em;
  right: 0;
  z-index: -45;
}
.menuItems--vertical li {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0.625em 0;
  a-text-align: right;
  a-letter-spacing: -0.0625em;
}
.menuItems--vertical li:hover > i {
  transform: scale(1, 1) translate(-0.25em, -0.375em) rotate(0deg);
}
.menuItems--vertical li:hover {
  border-bottom: 0.0625em solid #b4b0b0;
}

.hidden {
  opacity: 0;
  z-index: -23;
  height: 0;
}

.shown {
  opacity: 1 !important;
  z-index: 45 !important;
  height: auto !important;
}

@media (min-width: 81.25em) {
  nav {
    max-height: 8.125em;
  }

  .toggle-button, .bar {
    display: none;
  }

  .menuItems li a {
    font-size: 1.5em;
  }
  .menuItems--vertical {
    opacity: 0 !important;
    z-index: -23 !important;
  }
}
@media (min-width: 46.9375em) and (max-width: 78.6875em) {
  nav {
    max-height: 5.625em;
  }
  nav .logo_holder {
    max-height: 5.625em;
    max-width: 7.5em;
  }

  .toggle-button, .bar {
    display: none;
  }

  .menuItems li a {
    font-size: 1em;
  }
  .menuItems--vertical {
    opacity: 0 !important;
    z-index: -23 !important;
  }
}
@media (max-width: 46.875em) {
  nav {
    max-height: 5.625em;
  }
  nav .logo_holder {
    max-height: 5.625em;
    max-width: 7.5em;
    z-index: 45;
  }

  .menuItems {
    opacity: 0;
    z-index: -23;
  }
  .menuItems--vertical li a {
    font-size: 0.875em;
  }

  .toggle-button,
.bar {
    display: block;
  }
}
.form {
  width: 100%;
  max-width: 44em;
  margin: 0 auto;
  height: 100%;
}
.form .sbm {
  border: 0.0625em ridge #fff;
  color: #fff;
  background-color: #3076b0;
  border-radius: 0.9375em;
  padding: 0.9375em 0.3125em;
}
.form .sbm:hover {
  cursor: pointer;
}
.form .sbm--disabled {
  background-color: #a8abad;
}
.form input, .form textarea, .form div {
  width: 100%;
  height: 100%;
  padding: 0.9375em 0.3125em;
  margin: 0.9375em 0;
  font-size: 1em;
  border-radius: 0.9375em;
}
.form input.error,
.form textarea.error {
  box-shadow: 0 0 0.1875em #a10338;
}
.form .errorMessage {
  font-size: 0.75em;
  color: #a10338;
}

@media (max-width: 28.125em) {
  .form {
    float: none;
    width: 100%;
  }
}
.card {
  display: grid;
  grid-template-columns: 18.75em;
  grid-template-rows: 13.75em 12.5em 2.5em;
  grid-template-areas: "image" "text" "stats";
  border-radius: 1.125em;
  background: white;
  box-shadow: 0.3125em 0.3125em 0.9375em rgba(0, 0, 0, 0.9);
  font-family: roboto;
  text-align: center;
  transition: 0.5s ease;
  cursor: pointer;
  margin: 1.875em;
}
.card:hover {
  transform: scale(1.15);
  box-shadow: 0.3125em 0.3125em 0.9375em rgba(0, 0, 0, 0.6);
}

.card-image {
  grid-area: image;
  border-top-left-radius: 0.9375em;
  border-top-right-radius: 0.9375em;
}
.card-image img {
  width: 100%;
  height: auto;
  max-height: 13.75em;
  object-fit: fill;
}

.card-text {
  grid-area: text;
  padding: 0.625em;
}
.card-text p {
  color: grey;
  font-size: 0.875em;
  font-weight: 300;
}
.card-text h2 {
  margin-top: 0.625em;
  font-size: 1.25em;
}
.card-text ul li {
  font-size: 0.875em;
  text-align: left;
  color: grey;
}

.card-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 0.9375em;
  border-bottom-right-radius: 0.9375em;
  background: #56cee4;
}
.card-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding: 0.625em;
}

.sertificates {
  display: flex;
  flex-wrap: wrap;
  padding: 1.25em;
  max-height: 17.5em;
  overflow: hidden;
  -webkit-transition: max-height 0.5s ease-out;
  -moz-transition: max-height 0.5s ease-out;
  -o-transition: max-height 0.5s ease-out;
  transition: max-height 0.5s ease-out;
}
.sertificates--expanded {
  max-height: 210em;
}

.sertificate {
  width: auto;
  margin: 0 auto;
  height: 100%;
  padding: 0.125em;
}

.expand-area {
  display: block;
  color: #222;
  height: 3.125em;
  width: 3.125em;
  font-size: 2em;
  text-align: center;
  margin: 0.625em auto;
}
.expand-area:hover {
  cursor: pointer;
}

@media (max-width: 32.5em) {
  .sertificates--expanded {
    max-height: 450em;
  }
}
.text-holder__article {
  font-family: Roboto;
  font-size: 1em;
  font-weight: normal;
  color: #363636;
  text-align: left;
  justify-content: space-around;
  padding: 0.25em 1em;
  text-align: justify;
  letter-spacing: -0.0625em;
}
.text-holder__header {
  padding: 1em 0;
}

.item {
  position: relative;
  width: 13.75em;
  height: 15.625em;
  padding: 0.3125em;
}

.item img {
  width: 100%;
  height: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.item:hover img {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.span__holder {
  position: absolute;
  top: 30%;
  left: 30%;
  list-style-type: none;
}

.animated {
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

.span__holder li span {
  font-family: "Library-soft";
  color: #535d94;
  font-weight: normal;
  font-size: 1.25em;
}

.span__holder li {
  padding: 0.625em 0;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0.625em auto;
  letter-spacing: 0.15em;
}

#contact > .paralax > .contact {
  background-size: cover;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
@media (min-width: 62.5em) {
  .span__holder {
    left: 35%;
    width: 35%;
  }
}
@media (max-width: 35em) {
  .span__holder {
    width: 100%;
    left: 5%;
  }

  .span__holder li span {
    font-size: 0.875em;
  }

  .span__holder li {
    padding: 0.3125em 0;
  }
}

/*# sourceMappingURL=index.css.map */
